{% extends 'music/base.html' %}

{% block content %}
    <div class="post">
        {% if raag.entry_publish_date %}
            <div class="date">
                {{ raag.entry_publish_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'publish_raag' pk=raag.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %} 
            <a class="btn btn-default" href="{% url 'edit_raag' pk=raag.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ raag.title }}</h1>
        <p>{{ raag.text|linebreaksbr }}</p>
    </div>

{% endblock %}
