{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Add an icon:
    <link rel="icon" href="../favicon.ico"> 
    -->
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script src="{% static 'js/d3.min.js' %}"></script>
        <script type="text/javascript" async
              src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
        </script>

        <!-- <title>کچھ چھوٹی چھوٹی باتیں</title> -->
        <title>Blog | zindajaved.com</title>

    </head>

    <body>
        <div class="blog-masthead">
          <div class="container">
            <nav class="blog-nav">
              <a class="blog-nav-item active" href="{% static 'index.html' %}">Home</a>
              <a class="blog-nav-item" href="{% url 'home' %}">Research</a>
              <a class="blog-nav-item" href="{% url 'home' %}">Publications</a>
              <a class="blog-nav-item" href="{% url 'home' %}">Teaching</a>
              <a class="blog-nav-item" href="{% url 'home' %}">Software</a>
              <a class="blog-nav-item" href="{% url 'home' %}">CV</a>
              <a class="blog-nav-item" href="{% url 'home' %}">Music</a>
              <a class="blog-nav-item" href="{% url 'home' %}">Languages</a>
              <a class="blog-nav-item" href="{% url 'home' %}">Poetry</a>
              <a class="blog-nav-item" href="{% url 'home' %}">Contact</a>
              <a class="blog-nav-item" href="{% url 'home' %}">Contact</a>
            </nav>
          </div>
        </div>

        <div class="content container">
            <div class="page-header">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                    <p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
                {% else %}
                    <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a> 
                {% endif %}
                <!-- <h1 dir='rtl'><a href="{% url 'post_list' %}">کچھ چھوٹی چھوٹی باتیں</a></h1> -->
                <h1>Adventures in probability</h1>
            </div>


            <div class="row">
                <div class="col-sm-8 blog-main">
                    <div class="post">
                    <h2>Links to topics of interest</h2>
                    <h4>April 2, 2019</h4>
                    <ul class="list-group">
                        <li class="list-group-item"><a target="_blank" href="https://math.dartmouth.edu/archive/m13w12/public_html/notes/class12.pdf">Jacobian</a></li>
                        <li class="list-group-item"><a target="_blank" href="https://mtlsites.mit.edu/Courses/6.050/2004/unit9/wyatt.apr.7.pdf">Lagrange Multipliers</a></li>
                        <li class="list-group-item"><a target="_blank" href="https://projects.iq.harvard.edu/stat110/strategic-practice-problems">Stat 110: Probability</a></li>
                        <li class="list-group-item"><a target="_blank" href="http://www.math.hawaii.edu/~ramsey/Probability/PokerHands.html">How to count?</a></li>
                        <li class="list-group-item"><a target="_blank" href="https://github.com/AllenDowney/ThinkBayes2">Computational Bayesian Statistics</a></li>
                        <li class="list-group-item"><a target="_blank" href="http://zindajaved.com/oxam.html">Card shuffle simulation</a></li>
                        <li class="list-group-item"><a target="_blank" href="http://www.inference.org.uk/mackay/itila/">Freely available book on information theory by David MacKay</a></li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 blog-main">
                    <div class="post">
                    <h2>Terms to Learn</h2>
                    <h4>April 13, 2019</h4>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Variance Inflation Factor</a></li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 blog-main">
                    <div class="post">
                    <h2>Guestimates</h2>
                    <h4>April 13, 2019</h4>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">What is the national debt of Greek?</a></li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 blog-main">
                    <div class="post">
                    <h2>One more toss</h2>
                    <h4>April 16, 2017</h4>
                    <p>
                        Suppose Asma and Babar decide to play a coin 
                        tossing game. We suppose that Asma 
                        tosses \(n\) fair coins while Babar tosses \(n+1\) fair 
                        coins. The player with more heads wins the game. What 
                        is the probability that Babar wins the game?
                    </p>

                    <p>
                        Let us define the following random variables.
                        <div style="text-align:left">
                            $$A_n = \text{# of heads thrown by Asma in $n$ tosses},$$
                            $$B_n = \text{# of heads thrown by Babar in $n$ tosses}.$$
                        </div>
                        We are trying to find the probability \(P(B_{n+1} > A_n)\).
                        Let us now condition on the first \(n\) tosses. If \(B_{n+1} > A_n\), 
                        then either \(B_n = A_n\), which means that 
                        the final toss by Babar decides the game, or 
                        \(B_n > A_n\), in which case Babar has already won 
                        the game in the first \(n\) tosses. 
                        Mathematically, we can write this using the law of total 
                        probability
                        $$P(B_{n+1} > A_n) = P(B_{n+1} > A_n | B_n > A_n) P(B_n > A_n)+ 
                        P(B_{n+1} > A_n | B_n = A_n)P(B_n = A_n).$$

                        <p>
                        We have 
                        $$P(B_{n+1} > A_n | B_n > A_n) = 1.$$
                        However, 
                        $$P(B_{n+1} > A_n | B_n=A_n ) = 1/2,$$
                        since Babar's \(n+1)^{st}\) toss is a head only 
                        with probability \(1/2\).
                        </p>

                        We can therefore write
                        $$P(B_{n+1} > A_n) = 1 \times P(B_n > A_n) + 
                        \frac{1}{2} P(B_n = A_n).$$

                        We also have the identity
                        $$P(A_n = B_n) + P(A_n > B_n) + P(A_n < B_n) = 1.$$

                        Let \(P(A_n = B_n) = x\) and \(P(A_n > B_n) = p\).
                        By symmetry, we also have \(P(B_n > A_n) = p\). 
                        Therefore, 
                        $$2p + x = 1,$$ 
                        which implies
                        $$p = \frac{1 - x}{2}.$$
                        Using this expression, we have 
                        $$P(B_{n+1} > A_n) = \frac{1 - x}{2} + 
                        \frac{1}{2} x,$$
                        which simplifies to the surprising 
                        result
                        $$P(B_{n+1} > A_n) = \frac{1}{2}.$$

                    </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 blog-main">
                    <div class="post">
                    <h2>What if \(x^*Ax\) is real?</h2>
                    <h4>April 3, 2019</h4>

                    <p>Let \(A\) be a square matrix in \(\mathbb{C}^{n \times n} \), 
                    and suppose that for any vector \(x\) in \(\mathbb{C}^n\),
                    \(x^*Ax \) is a real number. What can we conclude about \(A\)?
                    </p>

                    <p>
                    As we shall prove below, we can actually show that \(A\) is Hermitian, i.e. 
                    \(A = A^*\).
                    </p>

                    <p>
                    Let \( x, y \) be
                    vectors in \(\mathbb{C}^n\),
                    then the number \( (x + y)^*A(x+y)\) is 
                    real by assumption and therefore equals its conjugate, i.e.,

                    $$ (x + y)^*A(x+y) = (x + y)^*A^*(x+y), $$ 
                    Which after expansion and cancellation of some terms gives, 
                    $$ x^*Ay + y^*Ax = x^*A^*y + y^*A^*x. $$
                
                    Let \(x\) and \(y\) be unit vectors along 
                    the i-th and j-th axis respectively, i.e., 
                    let \(x = e_i, y = e_j\) in the above equation and we get,

                    $$ a_{ij} + a_{ji} = \overline{a_{ji}} + \overline{a_{ij}}, $$
                    which implies
                    $$ a_{ij} + a_{ji} = \overline{a_{ij} + a_{ji}}, $$
                    i.e., the number \(a_{ij} + a_{ji} \) equals its 
                    conjugate and is therefore real. This implies,
                    $$ Im(a_{ij}) = -Im(a_{ji}) $$

                    Similarly, now choose \(x = ie_i, y=e_j\) and we get
                    $$ -ia_{ij} + ia_{ji} = -i\overline{a_{ji}} + i\overline{a_{ij}}, $$
                    which after cancelling the imaginary unit \(i\), gives us
                    $$ -a_{ij} + a_{ji} = -\overline{a_{ji}} + \overline{a_{ij}}, $$
                    which we can further re-write as,
                    $$ a_{ij} - a_{ji} = -\overline{\left(a_{ij} - a_{ji}\right)}, $$
                    $$ a_{ij} - a_{ji} +\overline{\left(a_{ij} - a_{ji}\right)} = 0, $$
                    $$ 2 Re(a_{ij} - a_{ji}) = 0. $$
                    This implies,
                    $$ Re(a_{ij}) = Re(a_{ji}). $$
                    The above, together with the earlier equation involing
                    imaginary parts gives us
                    $$ a_{ij} = \overline{a_{ji}}. $$
                    Therefore, 
                    $$ A = A^*. $$

                    Let us first write \(A\) as
                    $$ A = B + iC, $$
                    where 
                    $$ B = \frac{1}{2} \left(A+A^*\right), $$
                    and 
                    $$ C = \frac{1}{2i} \left(A-A^*\right). $$

                    Note that both \(B\) and \(C\) are 
                    Hermitian.
                    </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 blog-main">
                    <div class="post">
                    <h2>Matrix</h2>
                    <h4>April 1, 2019</h4>
                    <p>This is a collection of properties, results and theorems 
                    about matrices. 
                    </p>

                    <p>Let \(A\) be a square matrix in \(\mathbb{C}^{n \times n} \), 
                    and let \(x\) be a vector in \(\mathbb{C}^n\). We define the 
                    the quadratic form \(Q(x)\) as (note that plain transpose 
                    instead of conjugate transpose):
                    $$ Q(x) = x^{T}Ax, $$
                
                    Upon expanding the above expression, we can re-write \(Q(x)\) as
                    $$ Q(x) = x^{T}\frac{(A + A^T)}{2}x.$$
                    Therefore, \(A\) and \(\frac{(A + A^T)}{2}\) generate the 
                    same quadratic form, and Since \(\frac{(A + A^T)}{2}\) is 
                    a symmetric matrix, it suffices to only study quadratic 
                    forms for symmetric matrices. 
                    </p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-8 blog-main">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </div>


        <footer class="blog-footer">
        <p>Blog for <a href="{% url 'home' %}">zindajaved</a> by <a href="https://github.com/mhsnjvd">@mohsin</a>.</p>
          <p>
            <a href="#">Back to top</a>
          </p>
        </footer>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
      </body>
</html>
