
    <table id='datatable'>
    </table>
    {{ data.df_json|json_script:"vis-json-data" }}
    {{ data.df_html|json_script:"vis-html-data" }}
    <script id="vis-json-data" type="application/json"></script> 
    <script id="vis-html-data" type="application/json"></script> 

    <script id="visjs" type="text/javascript">
        var df_json_value = JSON.parse(document.getElementById('vis-json-data').textContent);
        var df_html_value = JSON.parse(document.getElementById('vis-html-data').textContent);
        var table = documet.getElementById('datatable')
        table.append(df_html_value)
    </script>
